---
import NavBar from '../Components/NavBar.astro'
import bannerBG from '../../public/assets/Banner.png'
import documental from '../../public/assets/documental.png'
import logoLSE from '../../public/assets/logoLSE.png'
import logoICESI from '../../public/assets/logoICESI.png'
import logoOEW from '../../public/assets/logoOEW.png'

---

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>PDG</title>
	</head>
	<body>
		<NavBar path="home"/>
		<section id="banner" class="">
			<img class="w-full h-[100vh]" src={bannerBG.src}/>
		</section>
		<section id="mainContent" class="bg-black px-[15vh] py-10">
			<div class="flex flex-row w-full justify-between text-white">
				<div class="bg-[#221931] h-[50vh] w-[52%] rounded-2xl p-7 relative">
					<p class="font-bold text-2xl">Implementación de las iniciativas calificadas como de género y mujer rural en el PDET de Alto Patía – Norte del Cauca</p>
					<p class="font-light mt-5">Conoce las principales dificultades que se observan en la implementación de las iniciativas calificadas como de género y mujer rural en el PDET de Alto Patía – Norte del Cauca, al tiempo que se formulan algunas recomendaciones a la institucionalidad involucrada</p>
					<a href="/PolicyBrief">
						<button class="bg-[#BA68C8] absolute bottom-7 px-12 py-1 rounded-full hover:bg-[#9a55a7] transition-all hover:scale-105">Ver</button>
					</a>
				</div>
				<div class="bg-[#088831] h-[50vh] w-[42%] rounded-2xl p-7 relative">
					<p class="font-bold text-2xl w-1/2">Voces de las comunidades ASDASDASDASDASDASD</p>
					<p class="font-light mt-5">Conoce de cara las historias de como las mujeres del municipio de Caldono, Cauca han estado viviendo el proceso de paz tras 5 años de su firma. Sus formas de resistencia frente a la violencia y las secuelas que esta ha dejado para ellas y sus comunidades</p>
					<a href="/VocesDeLasComunidades">
						<button class="bg-[#BA68C8] absolute bottom-7 px-12 py-1 rounded-full hover:bg-[#9a55a7] transition-all hover:scale-105">Ver</button>
					</a>
				</div>
			</div>

			<div class="w-full h-[50vh] relative mt-10">
				<span class="text-white absolute z-10 text-5xl px-7 py-10">
					Documental
				</span>
				<div class="bg-[rgba(121,9,126,.5)] w-full h-full rounded-2xl  absolute"/>
				<img class="w-full h-full" src={documental.src} alt="">
			</div>
		</section>
		<footer class="bg-[#F3ECD6] px-[20vw] py-10">
			<div class="flex flex-row justify-between items-center">
				<img class="h-[80%]" src={logoOEW.src} alt="">
				<img class="h-[80%]" src={logoLSE.src} alt="">
				<img class="" src={logoICESI.src} alt="">
			</div>
		</footer>
	</body>
</html>
