---
import NavBar from '../Components/NavBar.astro'
import Footer from '../Components/Footer.astro'
import bannerBG from '../../public/assets/Banner.png'
import bannerContent from '../../public/assets/Banner2.png'
import documental from '../../public/assets/documental.png'
import lorem from '../../public/assets/Lorem.png'
import secciones1 from '../../public/assets/SeccionVocesDeLasComunidades.png'
import secciones2 from '../../public/assets/SeccionFundacionLasManuelitas.png'
import secciones3 from '../../public/assets/SeccionAreasDeTrabajo.png'
import secciones1Color from '../../public/assets/SeccionVocesDeLasComunidadesColor.png'
import secciones2Color from '../../public/assets/SeccionFundacionLasManuelitasColor.png'
import secciones3Color from '../../public/assets/SeccionAreasDeTrabajoColor.png'
import SeccionMain from '../Components/SeccionMain'

---
<style>
	@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
</style>

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>PDG</title>
	</head>
	<body>
		<NavBar path="home"/>
		<section id="banner" class="bg-[#79097E] pt-[20vh]">
			<div class=" w-full h-[80vh] flex absolute">
				<img src={bannerContent.src} class=" m-auto">
			</div>
			<img class="w-full h-[80vh]" src={bannerBG.src}/>
		</section>
		<div class="h-[12vh] bg-[#EDEDED] overflow-hidden">
			<div class="flex h-full w-[200vw]">
				<img src={lorem.src} class="h-[50%] m-auto">
			</div>
		</div>
		<section id="secciones">
			<div class=" w-full flex flex-row">
				<SeccionMain texto='Voces de las comunidades' img={secciones1.src} imgColor={secciones1Color.src} ref=""/>
				<SeccionMain texto='Asomanuelitas' img={secciones2.src} imgColor={secciones2Color.src} ref=""/>
				<SeccionMain texto='No hay paz sin justicia social' img={secciones3.src} imgColor={secciones3Color.src} ref=""/>
			</div>
		</section>
		
		<Footer />
	</body>
</html>
