---
import NavBar from "../Components/NavBar.astro";
import Footer from "../Components/Footer.astro";
import Tela from '../../public/assets/Tela.png';
import Img1 from '../../public/assets/img1.png';
import ChumbeVerde from '../../public/assets/chumpeVerde.png';
import ChumbeRojo from '../../public/assets/chumpeRojo.png';
import ChumbeAmarillo from '../../public/assets/chumpeAmarillo.png';
import ChumbeMorado from '../../public/assets/chumpeMorado.png';
---



<html lang="es">
    <NavBar path="TelaDeLaResistencia"/>
    <div class="bg-[#19001B] flex flex-row w-full h-[100vh] pt-[20vh] items-center px-10 gap-10">
        <div class="text-white flex-row w-[20%]">
            <span class="font-tipo">La tela de la resistencia</span>
            <p>Da clic sobre  el chumbe de la derecha y aparecerán puntos de colores. Cada uno de ellos te llevará a las disferentes formas de resistencia de diferentes resguardos indigenas Nasas Yuwe</p>
        </div>
        <div class="relative">
            <img src={Tela.src} class="h-[80vh]" alt="">
            <div id="verdes" class="bg-[#088831] border border-black w-[25px] h-[25px] rounded-full absolute top-[63%] left-[32%] hover:scale-125 transition-all cursor-pointer" onclick="showModal();"/>
            <div id="verdes" class="bg-[#088831] border border-black w-[25px] h-[25px] rounded-full absolute top-[44%] left-[53%] hover:scale-125 transition-all cursor-pointer" onclick="showModal();"/>
            <div id="verdes" class="bg-[#088831] border border-black w-[25px] h-[25px] rounded-full absolute top-[55%] left-[75%] hover:scale-125 transition-all cursor-pointer" onclick="showModal();"/>
            <div id="morados" class="bg-[#79097E] border border-black w-[25px] h-[25px] rounded-full absolute top-[73%] left-[22%] hover:scale-125 transition-all cursor-pointer" onclick="showModal();"/>
            <div id="morados" class="bg-[#79097E] border border-black w-[25px] h-[25px] rounded-full absolute top-[60%] left-[40%] hover:scale-125 transition-all cursor-pointer" onclick="showModal();"/>
            <div id="morados" class="bg-[#79097E] border border-black w-[25px] h-[25px] rounded-full absolute top-[50%] left-[80%] hover:scale-125 transition-all cursor-pointer" onclick="showModal();"/>
            <div id="amarillos" class="bg-[#F4C664] border border-black w-[25px] h-[25px] rounded-full absolute top-[75%] left-[30%] hover:scale-125 transition-all cursor-pointer" onclick="showModal();"/>
            <div id="amarillos" class="bg-[#F4C664] border border-black w-[25px] h-[25px] rounded-full absolute top-[54%] left-[49%] hover:scale-125 transition-all cursor-pointer" onclick="showModal();"/>
            <div id="amarillos" class="bg-[#F4C664] border border-black w-[25px] h-[25px] rounded-full absolute top-[22%] left-[55%] hover:scale-125 transition-all cursor-pointer" onclick="showModal();"/>
            <div id="rojos" class="bg-[#FF6D6D] border border-black w-[25px] h-[25px] rounded-full absolute top-[44%] left-[46%] hover:scale-125 transition-all cursor-pointer" onclick="showModal();"/>
            <div id="rojos" class="bg-[#FF6D6D] border border-black w-[25px] h-[25px] rounded-full absolute top-[62%] left-[73%] hover:scale-125 transition-all cursor-pointer" onclick="showModal();"/>
            <div id="rojos" class="bg-[#FF6D6D] border border-black w-[25px] h-[25px] rounded-full absolute top-[71%] left-[81%] hover:scale-125 transition-all cursor-pointer" onclick="showModal();"/>
        </div>
        <div class="">
            <img id="verde" src={ChumbeVerde.src}      class="hover:scale-105 transition-all grayscale hover:grayscale-0" onclick="showPoints(event);" />
            <img id="rojo" src={ChumbeRojo.src}       class="hover:scale-105 transition-all grayscale hover:grayscale-0" onclick="showPoints(event);" />
            <img id="amarillo" src={ChumbeAmarillo.src}   class="hover:scale-105 transition-all grayscale hover:grayscale-0" onclick="showPoints(event);" />
            <img id="morado" src={ChumbeMorado.src}     class="hover:scale-105 transition-all grayscale hover:grayscale-0" onclick="showPoints(event);" />
        </div>
        <div id="modal" class=" absolute w-[95vw] backdrop-blur-md hidden "onclick="closeModal()" >
            <div class="w-[80vw] h-[70vh] m-auto rounded-2xl text-white flex flex-col items-center">
                <div class="z-20 flex flex-col items-center absolute">
                    <span class=" text-center w-[40vw] font-tipo font-bold text-2xl my-7">Resistencia en lo politico</span>
                    <p class="text-center w-[45vw] font-robot italic">“A veces a los hombres se les sube como la cerveza, entonces consultan las ideas con nosotras, por si no es descabellada. Por eso le digo yo que en ese tema de resistencia acá, nosotras hemos sido fundamentales. Las mujeres somos como un polo a tierra de la organización”</p>
                    <img src={Img1.src} class="w-[25%] my-4" >
                    <p class="w-[60vw] font-robot font-semibold">Aunque los hombres suelen hablar primero, siempre piden la opinión de las mujeres para asegurarse de que las decisiones sean sensatas. Por ejemplo, en la consejeria de Caldono, hay 3 hombres y 3 mujeres, y al momento de tomar una desición los hombres se aseguran de consultarlo con ellas, porque son más aterrizadas. Esto demuestra que las mujeres no solo equilibran las decisiones, sino que también las enriquecen. Es como si fueran la base sólida en la organización, asegurándose de que todo funcione bien.</p>
                </div>
                <div class="w-[80vw] h-full absolute z-10 opacity-60 border-2 border-white bg-gradient-to-tr from-[#010E12] to-[#DABBFF] "/>
            </div>
        </div>
    </div>
    <Footer />
</html>

<script is:inline>

    const chumbeVerde = document.querySelector('#verde')
    const chumbeRojo = document.querySelector('#rojo')
    const chumbeAmarillo = document.querySelector('#amarillo')
    const chumbeMorado = document.querySelector('#morado')

    const puntosVerdes = document.querySelectorAll('#verdes')
    const puntosRojos = document.querySelectorAll('#rojos')
    const puntosAmarillos = document.querySelectorAll('#amarillos')
    const puntosMorados = document.querySelectorAll('#morados')

    const modal = document.querySelector('#modal')

    function showPoints(event) {
        switch (event.target.id) {
            case 'verde':
            if (event.target.className.includes('active')) {
                    chumbeVerde.classList.add('grayscale');
                    chumbeRojo.classList.add('grayscale');
                    chumbeAmarillo.classList.add('grayscale');
                    chumbeMorado.classList.add('grayscale');
                    chumbeVerde.classList.remove('active');
                for (let index = 0; index < puntosVerdes.length; index++) {
                    puntosVerdes[index].classList.add('hidden')
                    puntosRojos[index].classList.add('hidden')
                    puntosAmarillos[index].classList.add('hidden')
                    puntosMorados[index].classList.add('hidden')
                    } 
                } else {
                    chumbeVerde.classList.remove('grayscale');
                    chumbeRojo.classList.add('grayscale');
                    chumbeAmarillo.classList.add('grayscale');
                    chumbeMorado.classList.add('grayscale');
                    chumbeMorado.classList.remove('active');
                    chumbeRojo.classList.remove('active');
                    chumbeAmarillo.classList.remove('active');
                    chumbeVerde.classList.add('active');
                    for (let index = 0; index < puntosVerdes.length; index++) {
                        puntosVerdes[index].classList.remove('hidden')
                        puntosRojos[index].classList.add('hidden')
                        puntosAmarillos[index].classList.add('hidden')
                        puntosMorados[index].classList.add('hidden')
                    }
                }
                break;
            case 'rojo':
            if (event.target.className.includes('active')) {
                    chumbeVerde.classList.add('grayscale');
                    chumbeRojo.classList.add('grayscale');
                    chumbeAmarillo.classList.add('grayscale');
                    chumbeMorado.classList.add('grayscale');
                    chumbeRojo.classList.remove('active');
                for (let index = 0; index < puntosVerdes.length; index++) {
                    puntosVerdes[index].classList.add('hidden')
                    puntosRojos[index].classList.add('hidden')
                    puntosAmarillos[index].classList.add('hidden')
                    puntosMorados[index].classList.add('hidden')
                    } 
                } else {
                    chumbeVerde.classList.add('grayscale');
                    chumbeRojo.classList.remove('grayscale');
                    chumbeAmarillo.classList.add('grayscale');
                    chumbeMorado.classList.add('grayscale');
                    chumbeMorado.classList.remove('active');
                    chumbeRojo.classList.add('active');
                    chumbeAmarillo.classList.remove('active');
                    chumbeVerde.classList.remove('active');
                    for (let index = 0; index < puntosVerdes.length; index++) {
                        puntosVerdes[index].classList.add('hidden')
                        puntosRojos[index].classList.remove('hidden')
                        puntosAmarillos[index].classList.add('hidden')
                        puntosMorados[index].classList.add('hidden')
                    }
                }
                break;
            case 'amarillo':
            if (event.target.className.includes('active')) {
                    chumbeVerde.classList.add('grayscale');
                    chumbeRojo.classList.add('grayscale');
                    chumbeAmarillo.classList.add('grayscale');
                    chumbeMorado.classList.add('grayscale');
                    chumbeAmarillo.classList.remove('active');
                for (let index = 0; index < puntosVerdes.length; index++) {
                    puntosVerdes[index].classList.add('hidden')
                    puntosRojos[index].classList.add('hidden')
                    puntosAmarillos[index].classList.add('hidden')
                    puntosMorados[index].classList.add('hidden')
                    } 
                } else {
                    chumbeVerde.classList.add('grayscale');
                    chumbeRojo.classList.add('grayscale');
                    chumbeAmarillo.classList.remove('grayscale');
                    chumbeMorado.classList.add('grayscale');
                    chumbeMorado.classList.remove('active');
                    chumbeRojo.classList.remove('active');
                    chumbeAmarillo.classList.add('active');
                    chumbeVerde.classList.remove('active');
                    for (let index = 0; index < puntosVerdes.length; index++) {
                        puntosVerdes[index].classList.add('hidden')
                        puntosRojos[index].classList.add('hidden')
                        puntosAmarillos[index].classList.remove('hidden')
                        puntosMorados[index].classList.add('hidden')
                    }
                }
                break;
            case 'morado':
                if (event.target.className.includes('active')) {
                    chumbeVerde.classList.add('grayscale');
                    chumbeRojo.classList.add('grayscale');
                    chumbeAmarillo.classList.add('grayscale');
                    chumbeMorado.classList.add('grayscale');
                    chumbeMorado.classList.remove('active');
                for (let index = 0; index < puntosVerdes.length; index++) {
                    puntosVerdes[index].classList.add('hidden')
                    puntosRojos[index].classList.add('hidden')
                    puntosAmarillos[index].classList.add('hidden')
                    puntosMorados[index].classList.add('hidden')
                    } 
                } else {
                    chumbeVerde.classList.add('grayscale');
                    chumbeRojo.classList.add('grayscale');
                    chumbeAmarillo.classList.add('grayscale');
                    chumbeMorado.classList.remove('grayscale');
                    chumbeMorado.classList.add('active');
                    chumbeRojo.classList.remove('active');
                    chumbeAmarillo.classList.remove('active');
                    chumbeVerde.classList.remove('active');
                    for (let index = 0; index < puntosVerdes.length; index++) {
                        puntosVerdes[index].classList.add('hidden')
                        puntosRojos[index].classList.add('hidden')
                        puntosAmarillos[index].classList.add('hidden')
                        puntosMorados[index].classList.remove('hidden')
                    }
                }
                break;
        }
    }

    function showModal(titulo, textoArriba, textoAbajo, img) {
        modal.classList.toggle('hidden')
    }

    function closeModal() {
        modal.classList.add('hidden')
    }
</script>